# Python
*.pyc
*.mypy_cache*
.mypy*
venv

# Unit tests
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/*
!notebooks/DataGeneration2.ipynb

# IDE
.idea
.vscode

# Logs
*.log

# Build
dist
*.egg-info

# Publipostage
publipostage
publipostage2